data/Estatutos-Universidad-de-los-Andes-2020-ratificados-MEN-RQ.preprocessed.txt filter=lfs diff=lfs merge=lfs -text
data/Estatutos-Universidad-de-los-Andes-2020-ratificados-MEN-RQ.raw.txt filter=lfs diff=lfs merge=lfs -text
data/reglamento-maestria-web-2024.preprocessed.txt filter=lfs diff=lfs merge=lfs -text
data/reglamento-maestria-web-2024.raw.txt filter=lfs diff=lfs merge=lfs -text
data/Estatutos-Universidad-de-los-Andes-2020-ratificados-MEN.pdf filter=lfs diff=lfs merge=lfs -text
data/reglamento-maestria-web-2024.pdf filter=lfs diff=lfs merge=lfs -text
data/test_uniandes.csv filter=lfs diff=lfs merge=lfs -text
data/Estatutos-Universidad-de-los-Andes-2020-ratificados-MEN-RQ.translated.txt filter=lfs diff=lfs merge=lfs -text
data/reglamento-maestria-web-2024.translated.txt filter=lfs diff=lfs merge=lfs -text
data/Estatutos-Universidad-de-los-Andes-2020-ratificados-MEN-RQ.qa.jsonl filter=lfs diff=lfs merge=lfs -text
data/Estatutos-Universidad-de-los-Andes-2020-ratificados-MEN-RQ.translated-backup.txt filter=lfs diff=lfs merge=lfs -text
data/Estatutos-Universidad-de-los-Andes-2020-ratificados-MEN-RQ.qa.keep.jsonl filter=lfs diff=lfs merge=lfs -text
data/Estatutos-Universidad-de-los-Andes-2020-ratificados-MEN-RQ.translated.qa.keep.jsonl filter=lfs diff=lfs merge=lfs -text
data/reglamento-maestria-web-2024.translated.qa.jsonl filter=lfs diff=lfs merge=lfs -text
data/predictions-spa-model-eng-v1.csv filter=lfs diff=lfs merge=lfs -text
data/predictions-spa-v1.csv filter=lfs diff=lfs merge=lfs -text
data/predictions.csv filter=lfs diff=lfs merge=lfs -text
data/r16-e124-bs1024-s64-spa-v1.csv filter=lfs diff=lfs merge=lfs -text
data/rag-answers-claude-ch700-2.1-DONT-SUBMIT.csv filter=lfs diff=lfs merge=lfs -text
data/rag-answers-groq-ch288-DONT-SUBMIT.csv filter=lfs diff=lfs merge=lfs -text
data/reglamento-maestria-web-2024.preprocessed2.txt filter=lfs diff=lfs merge=lfs -text
data/Estatutos-Universidad-de-los-Andes-2020-ratificados-MEN-RQ.manually-cleaned.txt filter=lfs diff=lfs merge=lfs -text
data/Estatutos-Universidad-de-los-Andes-2020-ratificados-MEN-RQ.preprocessed2.translated.txt filter=lfs diff=lfs merge=lfs -text
data/Estatutos-Universidad-de-los-Andes-2020-ratificados-MEN-RQ.preprocessed2.txt filter=lfs diff=lfs merge=lfs -text
data/reglamento-maestria-web-2024.manually-cleaned.txt filter=lfs diff=lfs merge=lfs -text
data/reglamento-maestria-web-2024.preprocessed2.translated.txt filter=lfs diff=lfs merge=lfs -text
data/Estatutos-Universidad-de-los-Andes-2020-ratificados-MEN-RQ.preprocessed2.qa.jsonl filter=lfs diff=lfs merge=lfs -text
data/reglamento-maestria-web-2024.preprocessed2.qa.jsonl filter=lfs diff=lfs merge=lfs -text
